# Ignore node_modules
node_modules
npm-debug.log*

# Ignore Git files
.git
.gitignore

# Ignore local environment secrets
.env
.env*.local

# Ignore test suite and local configs
test.js
.env.example
README.md
